/**
 * CSS file for the extension 'FooterBar'.
 */

/* The outer div-container of the FooterBar. */
.footerBar{
	position:fixed;
	width:98%;
	height:20px;
	text-align:center;
	right:0px;
	bottom: 0px;
	margin-right: auto;
	margin-left: auto;
	border-radius:15px 15px 0px 0px;
	background-color:#f0f0f0;
	border:3px solid #ddd;
	padding:8px;
	border-bottom:0px;
}


.footerBar ul{
    list-style: none outside none;
    margin: 0;
	padding: 0;
}

.footerBar ul li{
    float: left;
    margin: 0;
    width: 200px;
}

.footerBar ul li ul{
	position:absolute;
	width:200px;
	text-align:center;
	bottom: 36px;
	margin-right: auto;
	margin-left: auto;
	border-radius:15px 15px 0px 0px;
	background-color:#f0f0f0;
	border:3px solid #ddd;
}

.footerBar ul li ul li{
    float: none;
    margin: 0;
    width: 200px;
}

.footerBar.footerBarHide{
	width:20px;
}


/* The inner div-container of the FooterBar */
/* which contains all the added links. */
.footerBarContent{
	text-align:center;
	width:90%;
	height:20px;
	display:block;
}

.footerBarContent.footerBarContentHide{
	display:none;
}

/* The div-container to hide/show the FooterBar. */
.footerBarArrow{
	position:absolute;
	right:0px;
	top:0px;
	width:20px;
	height:20px;
	margin: 4px;
	text-align:center;
	border-radius:5px 5px 5px 5px;
	background-color:#eee;
	border:2px solid #fff;
	padding:4px;
	cursor:pointer;
	font-weight:bold;
	font-size:16px;
}

/* The span-container for the error messages. */
.footerBarError{
	font-size:12px;
	font-weight:bold;
	color:#ff0000;
}